.message-content {
  overflow-wrap: break-word;
  word-break: break-word;
}

.message-meta {
  font-size: 12px;
}

#you {
  justify-content: start;
}

#you .message-content {
  justify-content: flex-start;
  border-bottom-left-radius: inherit;
}

#you .message-meta {
  justify-content: flex-start;
  margin-left: 5px
}

#other {
  justify-content: flex-end;
}

#other .message-content {
  justify-content: flex-end;
  background-color:lightslategray;
  border-bottom-right-radius: inherit;
}

#other .message-meta {
  justify-content: flex-end;
  margin-right: 5px
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}