.message-content {
  overflow-wrap: break-word;
  word-break: break-word;
}

.message-meta {
  font-size: 12px;
}

#you {
  justify-content: start;
}

#you .message-content {
  justify-content: flex-start;
}

#you .message-meta {
  justify-content: flex-start;
  margin-left: 5px
}

#other {
  justify-content: flex-end;
}

#other .message-content {
  justify-content: flex-end;
  background-color:seagreen;
}

#other .message-meta {
  justify-content: flex-end;
  margin-right: 5px
}